@model IEnumerable<GummyBearKingdom.Models.Review>

@{
    ViewData["Title"] = "Review";
  
}


<h2>Gummy Bear Kingdom</h2>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
       
        
    </tr>

    @foreach (var listReview in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelReview => listReview.Author)
            </td>
             <td>
                @Html.DisplayFor(modelReview => listReview.Content)
            </td>
             <td>
                @Html.DisplayFor(modelReview => listReview.Rating)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = listReview.ReviewId }) |
                @Html.ActionLink("Details", "Details", new { id = listReview.ReviewId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listReview.ReviewId })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Create New", "Create")         
</p>
    <p>@Html.ActionLink("Back to List", "Index","Home")</p>