@model IEnumerable<GummyBearKingdom.Models.Property>

@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>GummyBearKingdom</h2>
    <hr>
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>
  
    
        @foreach(var listProperty in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelProperty => listProperty.Name)
            </td>
            <td>
                @Html.DisplayFor(modelProperty => listProperty.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelProperty => listProperty.Description)
            </td>
             <td>
                @Html.ActionLink("Edit", "Edit", new { id = listProperty.PropertyId }) |
                @Html.ActionLink("Details", "Details", new { id = listProperty.PropertyId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listProperty.PropertyId })
            </td>
          </tr>

        }
    </table>
    <p>
    @Html.ActionLink("Create New", "Create")
    </p>
<p>@Html.ActionLink("Back to list", "Index","Home")</p>
